@import 'bootstrap';
@import 'bootstrap-datepicker';

h1 {
  margin-bottom: 1em;
}

.m-top-10 {
  margin-top: 10px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

form {
  .required::after {
    color: red;
    content: '※'
  }
}

.datepicker[readonly] {
  background-color: #ffffff;
}

table {
  &.bulk {
    td {
      padding: 1px 5px;
    }
  }

  thead {
    background-color: rgba(255, 255, 128, .5);
  }
  .no_space {
    width: 1%;
    white-space: nowrap;
  }

  .operation {
    width: 5%;
    padding: 0.25rem;
    white-space: nowrap;
  }
}

.btn {
  &.btn-back { @include button-variant(#ffc107, #ffc107); }
  &.btn-new { @include button-variant(#007bff, #007bff); }
  &.btn-create { @include button-variant(#17a2b8, #17a2b8); }
  &.btn-edit { @include button-variant(#28a745, #28a745); }
  &.btn-update { @include button-variant(#28a745, #28a745); }
  &.btn-destroy { @include button-variant(#dc3545, #dc3545); }
  &.btn-version { @include button-variant(#a835dc, #a835dc); }
}

.alert {
  ul { margin-bottom: 0px; }
  &.alert-error { @include alert-variant(#ea5f6d, #ea5f6d, #343a40) }
}
